nav#header.z-depth-2
    .nav-wrapper.white
        .col.s12
            a.cyan-text.text-darken-2.brand-logo.texto(href='/')
                img#logo(src="img/u.png") 
            ul.right.hide-on-med-and-down