#header{
    width: 100%;
    z-index: 999;
    position: fixed;
}

#logo{
    width: 18%;
}

#log{
    width: 30%;
}

.intro{
    text-align: center;
    position: fixed;
    top: 0;
    background-color: #0097a7;
    height: 100%;
    width: 100%;
}

#titulo {
    font-size: 48px;
    font-weight: 200;
}

.texto{
    font-weight: 300;
}